<nav class="navbar navbar-default">
  <div class="navbar-header">
    </div>
    <ul class="nav navbar-nav">
      <li><a class="active" href="/">&nbsp;&nbsp;Home</a></li>
      {% if session.login %}
      <li><a href="/create-quiz">Create a New Quiz</a></li>
      <li><a href="/my-quiz">View My Quizzes</a></li>
      {% endif %}
      <li><a href="/about">About</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      {% if session.login %}
      <li>
        <a href="/logout">Log Out&emsp;</a>
      </li>
      {% else %}
      <li>
        <a href="/signup">Create a New Account</a>
      </li>
      <li>
        <a href="/login">Log In&emsp;</a>
      </li>
      {% endif %}
    </ul>
</nav>
